<div class="spinner-container">
  <div class="spinner">
    <div
      class="spinner-content"
      role="status"
    >
      <p class="text">
        {{ CONTENT_PATH + '.content.spinnerText' | translate }}
        <span class="loading-dots"> <span>.</span><span>.</span><span>.</span> </span>
      </p>
      <!-- <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32.5"
        height="43.04"
        viewBox="0 0 32.5 43.04"
        class="icon-11"
      >
        <g
          id="b992a046-30d8-45e2-a482-c424d6703085"
          data-name="Layer 2"
        >
          <g
            id="ad558264-8ab6-4415-82ef-57b5d49d80ca"
            data-name="Layer 1"
          >
            <path
              id="afb74229-c13c-4b84-a0bd-f9818c50b19e"
              data-name="Speechmark"
              d="M31.5,23.13a17.2,17.2,0,0,1,.5,4.14A15.31,15.31,0,0,1,16.65,42.54h-.09C8.7,42.57.54,35.86.5,25.09A24.27,24.27,0,0,1,9.23,7,28.6,28.6,0,0,1,26.54.5,7.49,7.49,0,0,1,28.6.73a11.89,11.89,0,0,0-9.33,11.42,3.71,3.71,0,0,0,0,.47A21.83,21.83,0,0,1,25,14.78"
              style="fill: none; stroke: #d3d3d3; stroke-linecap: round; stroke-linejoin: round"
              class="app-loader"
            ></path>
          </g>
        </g>
      </svg> -->
    </div>
  </div>
</div>
