# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
dist/
.angular/
out-tsc/

# Environment (contains API keys)
src/environments/environment.prod.ts

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln


# /production
